{%- set og_title = SITENAME ~ " - " ~ article.title -%}
{%- set og_type = "article" -%}
{%- set og_url = SITEURL ~ "/" ~ article.url -%}
{%- if article.description -%}
  {%- set og_description = article.description -%}
{%- endif -%}

{% extends "base.html" %}
{% block html_lang %}{{ article.lang }}{% endblock %}

{% block title %}{{ SITENAME }} - {{ article.title }}{% endblock %}

{% block head_meta %}
  {% if article.author %}
  <meta name="author" content="{{ article.author }}" />
  {% endif %}
  {% if article.description %}
  <meta name="description" content="{{ article.description }}">
  {% endif %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}
{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<div class="posts">
  <article>
    <h2 class="post-title">
      <a href="{{ SITEURL }}/{{ article.url }}">
        {{ article.title }}
      </a>
    </h2>
    <div class="post-meta text-muted">
      Posted on {{ article.date|strftime('%d %B %Y') }}
      {% if article.author and article.author != AUTHOR %}
      by
        {% for author in article.authors %}
          {%- if loop.last and loop.index0 > 0 %} and {% endif -%}
          <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
          {%- if not loop.last %}, {% endif %}
        {% endfor %}
      {% endif %}
    </div>
    {{ article.content }}
    <div class="d-flex post-meta text-muted">
    {% if article.category %}
      <div class="post-category">
        Category: <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
      </div>
    {% endif %}
    {% if article.tags %}
      <div class="post-tags ml-auto">
        Tags:
        {% for tag in article.tags %}
          <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
          {%- if not loop.last %}, {% endif %}
        {% endfor %}
      </div>
    {% endif %}
    </div>
  </article>
</div>
{% endblock %}
