{%- set og_title = og_title | default(SITENAME) -%}
{%- set og_type = og_type | default("website") -%}
{%- set og_image = og_image | default(SITEURL ~ "/theme/images/tuz.png") -%}
{%- set og_image_alt = og_image_alt | default("Tuz - the meditating Tasmanian devil (TasLUG mascot)") -%}
{%- set og_url = og_url | default(SITEURL) -%}
{%- set og_description = og_description | default("The Tasmanian Linux Users Group (TasLUG) promotes the use of Linux as well as Free, Libre, and Open Source Software (FLOSS) in general.") -%}

<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
<head>
{% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>

  <meta property="og:title" content="{{ og_title }}" />
  <meta property="og:type" content="{{ og_type }}" />
  <meta property="og:url" content="{{ og_url  }}" />
  <meta property="og:image" content="{{ og_image }}" />
  <meta property="og:image:alt" content="{{ og_image_alt }}" />
  <meta property="og:description" content="{{ og_description }}" />

  {% block head_meta %}
  {% endblock %}

  <link rel="stylesheet" href="{{ SITEURL }}/theme/css/bootstrap-4.1.3.min.css" />
  <link rel="stylesheet" href="{{ SITEURL }}/theme/css/fork-awesome-1.1.5.min.css" />
  <link rel="stylesheet" href="{{ SITEURL }}/theme/css/taslug.css" />
  <link rel="stylesheet" href="{{ SITEURL }}/theme/css/fonts.css" />

  <link rel="apple-touch-icon" sizes="180x180" href="{{ SITEURL }}/theme/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ SITEURL }}/theme/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ SITEURL }}/theme/favicon/favicon-16x16.png">
  <link rel="manifest" href="{{ SITEURL }}/theme/favicon/site.webmanifest">
  <link rel="mask-icon" href="{{ SITEURL }}/theme/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">

  {% include 'base_feeds.html' %}

{% endblock head %}
</head>
<body>
  <nav class="navbar-light navbar-custom fixed-top">
    <div class="navbar navbar-expand-sm">
      <a class="navbar-brand mr-auto" href="{{ SITEURL }}/index.html">TasLUG</a>

      <button id="navbar-toggler" class="navbar-toggler" type="button" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          {% for title, link in MENUITEMS %}
          <li class="nav-item">
              <a class="nav-link" href="{{ link }}">{{ title }}</a>
          </li>
          {% endfor %}
        {% if DISPLAY_PAGES_ON_MENU %}
          {% for page in pages %}
          <li class="nav-item{% if page == page %} active{% endif %}">
              <a class="nav-link" href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a>
          </li>
          {% endfor %}
        {% elif DISPLAY_CATEGORIES_ON_MENU %}
          {% for cat, null in categories %}
          <li class="nav-item{% if cat == category %} active{% endif %}">
              <a class="nav-link" href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a>
          </li>
          {% endfor %}
        {% endif %}
        </ul>
      </div>
    </div>

    <div class="avatar-container">
      <div class="avatar-img-border">
        <!-- START FIX -->
        <img class="avatar-img" src="{{ SITEURL }}/theme/images/tuz.png">
        <!-- END FIX -->
      </div>
    </div>
  </nav>

  <header>
    {% block header %}
    {% block header_title %}<h1>{{ SITENAME }}</h1>{% endblock %}
    <hr class="small" />
    <span class="page-subheading">{{ SITESUBTITLE }}</span>
    {% endblock %}
  </header>

  <main class="container" role="main">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </main>

  <footer>
    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
          {% if SOCIAL %}
          <ul class="links list-inline">
            {% for title, url in SOCIAL %}
            <li class="list-inline-item">
              <a class="fa-stack fa-lg" href="{{ url }}" title="{{ title }}">
              {% if SOCIAL_ICONS %}
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-{{ SOCIAL_ICONS[title] }} fa-stack-1x fa-inverse"></i>
              {% else %}
                {{ title }}
              {% endif %}
              </a>
            </li>
            {% endfor %}
          </ul>
          {% endif %}
          <div class="theme-details text-muted">
            Powered by <a href="https://getpelican.com/">Pelican</a><br />
            Theme <a href="https://gitlab.com/taslug/taslug.gitlab.io/-/tree/main/themes/beautiful-taslug">beautiful-taslug</a>
            based on <a href="http://deanattali.com/beautiful-jekyll/">beautiful-jekyll</a>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script>
    function init() {
      var nav = document.querySelector('nav.navbar-custom')
      window.addEventListener('scroll', function() {
        if ((window.pageYOffset || document.documentElement.scrollTop) > 10) {
          nav.classList.add('reduced');
        } else {
          nav.classList.remove('reduced');
        }
      });

      /*
        The following is based on:
          https://novelist.xyz/tech/bootstrap-without-jquery/
      */
      var button = document.querySelector('#navbar-toggler');
      var navbar = document.querySelector('#navbarCollapse');

      function getMaxHeight(el) {
        // Source: http://n12v.com/css-transition-to-from-auto/
        var prevHeight = el.style.height;
        el.style.height = 'auto';
        var maxHeight = getComputedStyle(el).height;
        el.style.height = prevHeight;
        el.offsetHeight;  // force repaint
        return maxHeight;
      }

      button.addEventListener('click', function() {
        if (button.getAttribute('aria-expanded') == "false") {
          navbar.classList.remove('collapse')
          navbar.classList.add('collapsing')
          button.setAttribute('aria-expanded', "true");
          navbar.style.height = getMaxHeight(navbar);
          nav.classList.add('expanded');
        } else {
          navbar.classList.add('collapsing')
          button.setAttribute('aria-expanded', "false");
          navbar.style.height = getComputedStyle(navbar).height;
          navbar.offsetHeight;
          navbar.style.height = '';
        }
      });
      navbar.addEventListener('transitionend', function() {
        navbar.classList.remove('collapsing');

        if (navbar.style.height) {
          navbar.style.height = 'auto';
        } else {
          navbar.classList.add('collapse')
          nav.classList.remove('expanded');
        }
      });
    }

    (function(){
      if (document.attachEvent ? document.readyState === "complete" : document.readyState !== "loading"){
        init();
      } else {
        document.addEventListener('DOMContentLoaded', init);
      }
    })();
  </script>
</body>
</html>
